html {
  font-size: 15px;
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
}

h1 {
  font-family: "Lato Regular", sans-serif;
  margin: 0;
  font-size: 1.7rem;
  font-weight: 400;
}

.wrapper {
  max-width: 1020px;
  margin: auto;
}

.header__wrapper {
  max-width: 1020px;
  margin: auto;
}

.header__burger-menu {
  display: none;
}

.header {
  background-color: #2d303a;
  border-bottom: 7px solid #323746;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

.header__block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 26px;
}

.header__burger {
  display: none;
}

.header__logo {
  color: #ffffff;
  text-decoration: none;
  margin-left: 33px;
  margin-top: 34px;
  letter-spacing: -0.85px;
  line-height: 1;
}

.header__logo span {
  color: #f06c64;
}

.header__navigation {
  font-family: "Lato Regular", sans-serif;
  margin-right: 11px;
  margin-top: 29px;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 400;
}

.navigation {
  color: #494e62;
}
.navigation li {
  float: left;
  margin-right: 31px;
}

.navigation__list a {
  color: #ffffff;
  text-decoration: none;
}

.navigation__list a:hover {
  color: #f06c64;
  text-decoration: underline;
}

.navigation li:first-child {
  list-style-type: none;
}

a.navigation_active {
  color: #f06c64;
}

.banner {
  background-color: #f06c64;
  border-bottom: 7px solid #ea676b;
  padding-top: 95px;
}

.banner__block {
  height: 593px;
}

.banner__items {
  display: flex;
  overflow: hidden;
  width: 1020px;
  height: 600px;
}

.banner__item {
  flex-shrink: 0;
  position: relative;
  left: -1020px;
  display: flex;
  width: 1020px;
}

.banner__clickarea1 {
  position: absolute;
  margin: 53px auto auto 112px;
  height: 459px;
  width: 215px;
  border-radius: 25px;
}

.banner__clickarea2 {
  position: absolute;
  margin: 174px auto auto 425px;
  height: 215px;
  width: 458px;
  border-radius: 25px;
}

.banner__blackbox1 {
  position: absolute;
  margin: 118px auto auto 125px;
  height: 334px;
  width: 189px;
  background-color: #000000;
  display: none;
}

.banner__blackbox2 {
  position: absolute;
  margin: 187px auto auto 485px;
  height: 189px;
  width: 333px;
  background-color: #000000;
  display: none;
}

.banner__left-phone {
  padding: 53px 0 0 112px;
}

.banner__right-phone {
  padding: 174px 0 0 73px;
}

.banner__prev-arrow {
  position: absolute;
  margin: -319px auto auto 42px;
  cursor: pointer;
}

.banner__next-arrow {
  position: absolute;
  margin: -319px auto auto 964px;
  cursor: pointer;
}

.our-services {
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
  color: #666d89;
}

.our-services__block {
  padding: 38px 40px 61px;
}

.our-services__block h2 {
  font-size: 2rem;
  font-family: "Lato Black", sans-serif;
  margin-bottom: 0px;
}

.our-services__description {
  text-align: justify;
  font-family: "Lato Light", sans-serif;
  font-size: 1.2rem;
  line-height: 30px;
  letter-spacing: -0.05px;
  word-spacing: -1.1px;
  margin: 16px 0 13px;
}

.layout-3-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.anchor {
  padding-top: 60px;
  margin-top: -60px;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}

.service {
  width: 33%;
  max-width: 300px;
  max-height: 93px;
  overflow: hidden;
  margin-top: 30px;
}

.service__icon {
  margin-top: 3px;
  float: left;
  width: 55px;
  height: 55px;
  border: 2px solid #666d89;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service__icon img {
  margin: 0;
}

.service__name {
  margin-bottom: 9px;
  margin-left: 80px;
  color: #666d89;
  font-family: "Lato Black";
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0px;
  word-spacing: px;
}

.service__description {
  text-align: justify;
  margin-top: 5px;
  margin-left: 80px;
  color: #767e9e;
  font-size: 0.7rem;
  line-height: 21px;
  letter-spacing: 0.8px;
  word-spacing: -1px;
}

.portfolio {
  background-color: #2d303a;
  color: #666d89;
  border-bottom: 7px solid #323746;
}

.portfolio__block {
  padding: 37px 40px 25px;
}

.portfolio__block h2 {
  font-size: 2rem;
  font-family: "Lato Black", sans-serif;
  margin-bottom: 4px;
  color: #666d89;
  letter-spacing: 0.1px;
}

.portfolio__description {
  color: #767e9e;
  text-align: justify;
  font-family: "Lato Light", sans-serif;
  font-size: 1.2rem;
  line-height: 30px;
  letter-spacing: -0.05px;
  word-spacing: -1.1px;
  margin-bottom: 10px;
  margin-top: 16px;
}

.tag {
  color: #6e7593;
  background-color: #2d303a;
  border: 1px solid #666d89;
  border-radius: 5px;
  cursor: pointer;
  padding: 4px 6px 2px 6px;
  margin-right: 7px;
  font-family: "Lato Bold", "Arial", sans-serif;
  font-size: 12px;
  letter-spacing: -0.15px;
  outline: none;
}

.tag:hover {
  color: #ffffff;
  border-color: #ffffff;
}

.tag_selected {
  color: #ffffff;
  border-color: #ffffff;
}

.layout-4-column {
  margin: 19px 0 22px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio__work {
  margin-bottom: 16px;
  cursor: pointer;
}

.portfolio__work:nth-child(n + 13) {
  display: none;
}

.about-us {
  background-color: #f2f2f2;
  color: #666d89;
  border-bottom: 5.5px solid #ffffff;
}

.about-us__block {
  padding: 37px 40px 67px;
}

.about-us h2 {
  font-size: 2rem;
  font-family: "Lato Black", sans-serif;
  margin-bottom: 4px;
  color: #666d89;
  letter-spacing: 0.1px;
  word-spacing: -1.5px;
}

.about-us__description {
  color: #767e9e;
  text-align: justify;
  font-family: "Lato Light", sans-serif;
  font-size: 1.2rem;
  line-height: 30px;
  letter-spacing: -0.05px;
  word-spacing: -1.1px;
  margin: 17px 0 43px;
}

.staff {
  width: 300px;
}

.staff__name {
  font-size: 1.2rem;
  font-family: "Lato Black", sans-serif;
  margin-top: 13px;
  margin-bottom: 4px;
  color: #666d89;
  letter-spacing: 0px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.staff__description {
  font-size: 0.8rem;
  line-height: 21px;
  color: #767e9e;
  margin-top: 8px;
  text-align: justify;
  letter-spacing: -0px;
  word-spacing: -0.5px;
  margin-bottom: 0;
}

.social__icon {
  margin-top: 24px;
  margin-right: 8px;
  float: left;
  width: 30px;
  height: 30px;
  border: 1px solid #717791;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.social__icon img {
  margin: 0;
}

.social__icon:hover {
  border: 1px solid #ea676b;
}

.contact {
  background-color: #f06c64;
  border-bottom: 6.5px solid #ea676b;
}

.contact__block {
  padding: 37px 40px 57px;
}

.contact h2 {
  font-size: 2rem;
  font-family: "Lato Black", sans-serif;
  margin-bottom: 4px;
  color: #f0d8d9;
  letter-spacing: 0.1px;
  word-spacing: -1.5px;
}

.contact__description {
  color: #f0d8d9;
  text-align: justify;
  font-family: "Lato Light", sans-serif;
  font-size: 1.2rem;
  line-height: 30px;
  letter-spacing: -0.05px;
  word-spacing: -1.1px;
  margin-bottom: 29px;
  margin-top: 17px;
}

.contact__block2 {
  display: flex;
  flex-direction: row;
}

.contact__form input,
textarea {
  font-family: "Lato", sans-serif;
  font-size: 0.75rem;
  padding-left: 15px;
  border: 0 solid white;
  background-color: #d6564f;
  border-radius: 5px;
  color: #ffffff;
}

.contact__form input::placeholder,
textarea::placeholder {
  color: #f48c8f;
}

.contact__form input:focus,
textarea:focus {
  outline: none;
}

.contact__form input {
  height: 36px;
  width: 604px;
}

.contact__form textarea {
  font-size: 0.8rem;
  margin-top: 3px;
  width: 602px;
  padding-top: 10px;
  height: 146px;
  resize: none;
}
*/ .contact__button {
  margin-top: 9px;
}

.button {
  font-family: "Lato", sans-serif;
  padding: 13px;
  font-weight: 600;
  font-size: 0.9rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
  background: #fbc65f;
  color: #886a30;
  border: none;
  height: 38px;
  width: 136px;
}

.button:hover {
  background: #ce5d56;
  border-color: #ce5d56;
}

.modal {
  background-color: rgb(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  z-index: 1;
}

.modal_hidden {
  display: none;
}

.modal__content {
  width: 400px;
  margin: auto;
  padding: 5px 20px 13px;
  border-radius: 10px;
  background: #fff;
}

.modal__button {
  padding: 4px 10px;
  border-radius: 4px;
  cursor: pointer;
  background: #d6564f;
  color: #ffffff;
  border: 1px solid #f48c8f;
}

.contact-info {
  margin-left: 20px;
  margin-top: -4px;
}

.contact-info h3 {
  color: #f0d8d9;
  margin-bottom: 0;
}

.contact-info__text {
  margin-top: 8px;
  color: #f0d8d9;
  font-size: 0.7rem;
  line-height: 22px;
  letter-spacing: 0.75px;
  word-spacing: -1.6px;
  text-align: justify;
}

.contact-info__contacts {
  margin-top: 23px;
}

.contact-info__contacts span,
a {
  font-size: 0.8rem;
  line-height: 21px;
  font-weight: 400;
  color: #f0d8d9;
  text-decoration: none;
}

.contact-info__contact1 {
  margin-bottom: 1px;
  margin-left: 4px;
}

.contact-info__contact1 img {
  margin-right: 7px;
}

.contact-info__contact2 {
  margin-left: 2px;
  margin-bottom: 0px;
}

.contact-info__contact2 img {
  margin-right: 7px;
}

.contact-info__contact3 {
  margin-left: 1px;
}

.contact-info__contact3 img {
  margin-right: 6px;
}

.footer {
  background-color: #2d303a;
}

.footer__wrapper {
  max-width: 1020px;
  margin: auto;
}

.footer__block {
  display: flex;
  justify-content: space-between;
  padding-bottom: 22px;
}

.footer__text {
  font-family: "Lato", sans-serif;
  color: #666d89;
  font-size: 0.75rem;
  padding-left: 42px;
  padding-top: 31px;
  letter-spacing: 0.2px;
  word-spacing: 0px;
}

.footer__contacts {
  margin-right: 32px;
  margin-top: -2px;
}

@media (min-width: 768px) and (max-width: 1019px) {
  .header__navigation {
    margin-top: 26px;
  }

  .header__block {
    padding-bottom: 29px;
  }

  .wrapper {
    max-width: 768px;
    margin: auto;
  }

  .header__burger-menu {
    display: none;
  }

  .banner {
    border-bottom: 5px solid #ea676b;
  }

  .banner__block {
    height: 447px;
  }

  .banner__items {
    height: 100%;
    width: 100%;
  }

  .banner__item {
    left: -768px;
    width: 768px;
  }

  .banner__item > img {
    width: 768px;
  }

  #Phone1 {
    width: 180px;
  }

  #Phone2 {
    height: 180px;
  }

  .banner__blackbox1 {
    margin: 90px auto auto 95px;
    height: 250px;
    width: 142px;
  }

  .banner__blackbox2 {
    margin: 143px auto auto 365px;
    height: 142px;
    width: 250px;
  }

  .banner__clickarea1 {
    margin: 41px auto auto 85px;
    height: 344px;
    width: 161px;
    border-radius: 21px;
  }

  .banner__clickarea2 {
    margin: 133px auto auto 320px;
    height: 162px;
    width: 344px;
    border-radius: 21px;
  }

  .banner__left-phone {
    padding: 41px 0 0 85px;
  }

  .banner__right-phone {
    padding: 133px 0 0 55px;
  }

  .banner__prev-arrow {
    margin: -230px auto auto 29px;
  }

  .banner__next-arrow {
    margin: -230px auto auto 724px;
  }

  .our-services__block {
    padding: 16px 56px 16px 40px;
  }

  .our-services__description {
    line-height: 31px;
  }

  .layout-3-column {
    padding-top: 23px;
  }

  .service {
    width: 50%;
    margin-bottom: 51px;
    margin-right: 18px;
    margin-top: 0;
  }

  .service__icon {
    margin-top: 0;
    width: 56px;
    height: 56px;
  }

  .portfolio__block {
    padding-bottom: 24px;
  }

  .portfolio__description {
    margin-bottom: 11px;
    max-width: 639px;
  }

  .layout-4-column {
    margin: 28px 0 22px;
  }

  .portfolio__image {
    width: 216px;
  }

  .about-us__block {
    padding: 30px 40px 69px;
  }

  .about-us__description {
    margin: 17px 0 14px;
  }

  .staff {
    width: 32%;
  }

  .staff__name {
    margin-top: 7px;
    margin-bottom: 0;
  }

  .staff__description {
    margin-top: 0;
  }

  .staff__photo > img {
    width: 100%;
  }

  .social__icon {
    margin-top: 13px;
  }

  .contact__block {
    padding: 32px 40px 39px;
  }

  .contact__description {
    margin-bottom: 10px;
  }

  .contact__form input {
    width: 426px;
    margin-bottom: -3px;
  }

  .contact__form textarea {
    margin-top: 0;
    width: 424px;
    height: 146px;
  }

  .contact__button {
    margin-top: 12px;
  }

  .button {
    height: 39px;
    width: 135px;
    padding: 14px;
  }

  .contact-info {
    margin-left: 29px;
  }

  .contact-info__text {
    margin-top: 1px;
    line-height: 23px;
  }

  .contact-info__contacts {
    margin-top: 0;
  }

  .footer__text {
    font-size: 0.85rem;
    padding-top: 33px;
  }

  .footer__contacts {
    margin-right: 34px;
    margin-top: 8px;
  }
}

@media (max-width: 767px) {
  .wrapper {
    max-width: 375px;
    margin: auto;
  }

  .header__block {
    padding-bottom: 0;
  }

  .header__burger {
    display: block;
    background: url(./assets/img/Burger-menu-icon.png);
    width: 25px;
    height: 20px;
    border: 0;
    position: absolute;
    left: 20px;
    top: 26px;
    outline: none;
  }

  .header__burger-menu {
    background-color: rgb(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 1;
  }

  .header__burger-content {
    height: 100vh;
    width: 278px;
    background-color: #2d303a;
    box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
  }

  .burger__logo {
    margin-top: 27px;
    margin-left: 70px;
  }

  .burger__logo span {
    color: #f06c64;
  }

  .burger__navigation {
    margin-left: 73px;
  }

  .burger__navigation a {
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 37px;
    color: #ffffff;
  }

  a.navigation_active {
    color: #f06c64;
  }

  .burger__navigation a:nth-child(1) {
    margin-top: 190px;
  }

  .header__navigation {
    display: none;
  }

  .header__logo {
    margin: 27px auto 16px;
  }

  h1 {
    font-size: 1.4rem;
    color: #ffffff;
  }

  .banner {
    border-bottom: 2px solid #ea676b;
    padding-top: 67px;
  }

  .banner__block {
    height: 224px;
  }

  .banner__items {
    height: 100%;
    width: 100%;
  }

  .banner__item {
    left: -375px;
    width: 375px;
  }

  .banner__item > img {
    width: 375px;
  }

  #Phone1 {
    width: 88px;
  }

  #Phone2 {
    height: 88px;
  }

  .banner__blackbox1 {
    margin: 47px auto auto 45px;
    height: 124px;
    width: 70px;
  }

  .banner__blackbox2 {
    margin: 74px auto auto 177px;
    height: 70px;
    width: 124px;
  }

  .banner__clickarea1 {
    margin: 24px auto auto 41px;
    height: 168px;
    width: 79px;
    border-radius: 9px;
  }

  .banner__clickarea2 {
    margin: 69px 0 0 156px;
    height: 79px;
    width: 168px;
    border-radius: 9px;
  }

  .banner__left-phone {
    padding: 24px 0 0 41px;
  }

  .banner__right-phone {
    padding: 69px 0 0 27px;
  }

  .banner__prev-arrow {
    margin: -123px auto auto 9px;
  }

  .banner__next-arrow {
    margin: -123px auto auto 350px;
  }

  .our-services__block {
    padding: 2px 32px 18px;
  }

  .our-services__description {
    margin: 16px 0 1px;
  }

  .service {
    width: 100%;
    margin-top: 27px;
  }

  .portfolio__block {
    padding: 19px 29px;
  }

  .portfolio__description {
    margin: 17px 0 16px;
  }

  .layout-4-column {
    margin: 24px 0 0;
  }

  .portfolio__image {
    width: 152px;
  }

  .portfolio__work {
    margin-bottom: 9px;
  }

  .portfolio__work:nth-child(n + 9) {
    display: none;
  }

  .about-us__block {
    padding: 12px 30px 8px;
  }

  .about-us__description {
    padding-right: 16px;
    margin: 17px 0 25px;
  }

  .staff {
    width: 100%;
    margin-bottom: 33px;
  }

  .staff__name {
    margin-top: 13px;
    margin-bottom: 0;
  }

  .staff__description {
    margin-top: 0;
  }

  .staff__photo > img {
    width: 100%;
  }

  .social__icon {
    margin-top: 13px;
  }

  .contact__block {
    padding: 22px 30px 18px;
  }

  .contact__description {
    padding-right: 9px;
    margin-bottom: 9px;
  }

  .contact__block2 {
    flex-direction: column;
  }

  .contact__form input {
    width: calc(100% - 15px);
    margin-bottom: -3px;
  }

  .contact__form textarea {
    height: 146px;
    width: calc(100% - 17px);
    margin-top: 0px;
  }

  .contact__button {
    margin-top: 11px;
  }

  .button {
    width: 100%;
    height: 50px;
  }

  .contact-info {
    margin: 13px 0;
  }

  .contact-info__text {
    margin-top: 1px;
  }

  .contact-info__contacts {
    margin-top: 13px;
  }

  .contact-info__contact1 {
    margin-left: 3px;
    margin-bottom: 4px;
  }

  .contact-info__contact2 {
    margin-bottom: 5px;
  }

  .footer__text {
    display: none;
  }

  .footer__contacts {
    margin: 10px auto 1px;
  }

  @media (max-width: 374px) {
    .banner__block {
      height: 186px;
    }
    .banner__prev-arrow {
      margin: -108px auto auto 9px;
    }

    .banner__next-arrow {
      margin: -108px auto auto 296px;
    }

    #Phone1 {
      width: 70px;
    }

    #Phone2 {
      height: 70px;
    }

    .portfolio__block {
      padding: 19px 29px 20px;
    }

    .tag {
      margin-right: -2px;
    }

    .portfolio__image {
      width: calc(50vw - 35px);
    }
  }
}
.hidden {
  display: none;
}
.message-block {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 2792px;
  left: 0;
  background: #0008;
}
.message {
  position: absolute;
  top: 25%;
  left: 27%;
  width: 400px;
  padding: 20px;
  color: black;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: #9b9faa;
}
